<body>
  <section class="projects-box" id="projeto">
    <h1>🚀 Meus Projetos no GitHub</h1>
    <p class="description">
      Aqui estão alguns dos meus principais projetos desenvolvidos com dedicação e criatividade.
      Todos disponíveis no meu repositório do <strong>GitHub</strong>.
    </p>

    <div class="projects-list">
      <div class="project-item">
        <h3> PORTIFÓLIO PESSOAL</h3>
        <p>Um site moderno e  totalmente responsivo, construido em Angular, Css3, Html5 e TypeScript. Para apresentar meus trabalhos, habilidades e contato.</p>
        <a href="https://github.com/pauloosouza/Projeto-portifolio"  target="_blank"> <img src="assets/img/github.png" alt="" class="git">Ver no GitHub</a>
      </div>

       <div class="project-item">
        <h3> ACELERA DEV </h3>
        <p> Um programa construido em JAVA, com frameworks, Spring boot - Gerenciamento de tarefas com login, aplicção com CRUD </p>
        <a href="https://github.com/pauloosouza/aceleradev-stefanini" target="_blank" > <img src="assets/img/github.png" alt="" class="git"> Ver no GitHub</a>
      </div>

       <div class="project-item">
        <h3> LINK BUNCH </h3>
        <p> Site totalmente responsivo de armazenamento de links de redes sociais, construido em, React, Html5, Css3 e TypeScript, usando como B.D - MongoDB.</p>
        <a href="https://github.com/pauloosouza/link-bunch-final" target="_blank"> <img src="assets/img/github.png" alt="" class="git"> Ver no GitHub</a>
      </div>

      <div class="project-item">
        <h3> SISTEMA DE CADASTRO </h3>
        <p>Aplicativo em Angular para gerenciar tarefas com login, CRUD e sincronização local.</p>
        <a href="https://github.com/pauloosouza/Sistema-de-cadastro" target="_blank"> <img src="assets/img/github.png" alt="" class="git"> Ver no GitHub</a>
      </div>

      <div class="project-item">
        <h3> TO DO LIST </h3>
        <p> Projeto desenvolvido em JAVA, com o intuito de gerenciar as tarefas simples do dia com CRUD.</p>
        <a href="https://github.com/pauloosouza/To_Do_List_" target="_blank"> <img src="assets/img/github.png" alt="" class="git"> Ver no GitHub</a>
      </div>

      <div class="project-item">
        <h3> MEMOTECA </h3>
        <p> Site criado para salvar memórias, MEMOTECA é uma mistura de "Memória e Biblioteca" Contruido em Angular, TypeScript, Css3 e Html5, usando CRUD.</p>
        <a href="https://github.com/pauloosouza/angular-alura" target="_blank"> <img src="assets/img/github.png" alt="" class="git"> Ver no GitHub</a>
      </div>
    </div>

  </section>
</body>
