<body>


<main class="hero" id="sobre">

   <section class="intro">
    <p class="subheading">Criando histórias através da tecnologia.</p>
    <h1> Conheça mais sobre:  <span class="name"> Paulo Souza</span></h1>
    <p class="description">
      Meu nome é <mark> Athos Paulo </mark> , mas costumo ser conhecido como <mark> Paulo Souza </mark> . Sou estudante da área de Tecnologia da Informação e tenho grande interesse e afinidade com o desenvolvimento front-end. Já atuei nas áreas de suporte técnico, qualidade e redes, experiências que contribuíram muito para minha visão ampla sobre o mundo da tecnologia.

      Tive a oportunidade de viver experiências profissionais importantes, como o período em que trabalhei na Caixa Econômica Federal, o que me proporcionou um grande aprendizado sobre trabalho em equipe, responsabilidade e atendimento a usuários.

    </p>
    <div class="buttons">
      <a href="#" class="btn primary"><i class="fas fa-download"></i> Download Meu Currículo </a>
    </div>
  </section>

  <aside class="profile">
    <img src="/assets/img/profilee.PNG" alt="Profile">

  </aside>

</main>

<section class="works">
  <div class="work-card">
    <h4> Corporativo </h4>
    <h3> Stefanini Tecnologia </h3>
    <p>
      Participei de projetos Front-End e Full Stack em iniciativas da Stefanini, como o programa Acelera Dev, atuando em equipe com prazos reais de entrega. Durante o processo, participei de mentorias com desenvolvedores Pleno e Sênior, aprimorando minhas habilidades técnicas, boas práticas e experiência em ambientes ágeis.
      Essa vivência fortaleceu minha capacidade de colaboração, resolução de problemas e entrega de soluções eficientes e bem estruturadas.
    </p>
  </div>
</section>
</body>
